# TODO: CUDA 12 환경에서의 requirements 파일 정리 필요
# CUDA 12.1용
torch==2.1.0+cu121
torchvision==0.16.0+cu121
--extra-index-url https://download.pytorch.org/whl/cu121

fastapi
uvicorn
pydantic
pynvml
pywin32
